.moviesParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.paginationArrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.paginationArrow:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pageCount {
  margin: 0 15px;
  font-size: 18px;
}
